<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="cloudcode.krakenfutures.websocket.SpotTickerWebSocketService" level="WARN"/>
    <logger name="cloudcode.krakenfutures.websocket.FuturesTickerService" level="INFO"/>
    <logger name="cloudcode.krakenfutures.rest.KrakenRestClient" level="WARN"/>
    <logger name="org.java_websocket" level="WARN"/>

    <logger name="cloudcode.krakenfutures.strategy.CrossCurrencyArbitrageStrategy" level="INFO"/>
    <logger name="cloudcode.krakenfutures.strategy.SpotFuturesArbitrageStrategy" level="INFO"/>
    <logger name="cloudcode.krakenfutures.websocket.KrakenWebSocketClient" level="INFO"/>
    <logger name="cloudcode.krakenfutures.CloudRunBotApplication" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
